/*Components design*/
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/header.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/product.css");
@import url("layouts/columns.css");


body{
    background: #FFFFFF;
    color: rgb(20,20,20);
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #F95759;
}
h2{
    font-size: 18px;
    color: #F95759;
}
a{
    text-decoration: none;
    color: #F95759;
}
a:hover{
    text-decoration: none;
    color: #FED766;
}

.firstdiv{
    margin-top: 120px;
}

.cvbanner{
    background-image: linear-gradient(rgba(36,64,104,0.5), rgba(36,64,104,0.5)), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 70px 0px;
    color: white;

}

#banner {
    /*background-image: url("../images/bannerbackground.jpg");
    background-size: cover;*/
    padding: 0px;
    text-align: center;
    height: calc(100vh - 260px);
}

#banner h1{
    padding-top: 120px;
}

#banner p{

    font-weight: lighter;

    font-size: 30px;
}




.center{
    width: 900px;
    margin: 0 auto;
}

@media(max-width: 992px){
    .center { width:700px; }
}

@media(max-width: 768px){
    .center { width:500px; }
}

@media(max-width: 480px){
    .center { width:350px; }
}



footer{
    background-color: #E6E6EA;
    padding: 5px 20px;
    height: 150px;
}

footer h2{
    margin-top: 0px;
}

red:F95759
blue:2AB7CA
yllow:FED766
dgrey:E6E6EA
lgrey:F4F4F8
