/*Components design*/
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/header.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/product.css");

body{
    background: #FFFFFF;
    color: rgb(20,20,20);
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #F95759;
}
h2{
    font-size: 18px;
    color: #F95759;
}
a{
    text-decoration: none;
    color: #F95759;
}
a:hover{
    text-decoration: none;
    color: #FED766;
}

#banner {
    background-image: url("../images/bannerbackground.jpg");
    background-size: cover;
    padding: 150px 0px;
    text-align: center;
}




#banner p{

    font-weight: lighter;

    font-size: 30px;
}

main{
    margin-top: 60px;
    padding: 20px
}

footer{
    background-color: #E6E6EA;
    padding: 20px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

red:F95759
blue:2AB7CA
yllow:FED766
dgrey:E6E6EA
lgrey:F4F4F8
