body{
    background: #FFFFFF;
    color: rgb(20,20,20);
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #F95759;
}
h2{
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #F95759;
}
a:hover{
    text-decoration: none;
    color: #FED766;
}

#banner {
    background-image: url("images/bannerbackground.jpg");
    background-size: cover;
    padding: 150px 0px;
    text-align: center;
    color: white;
}

header{
    background-color: #F95759;
    height: 50px;
    margin-bottom: 0px;
}

#logo-header{
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#banner h1{
    color:white;
}

#banner p{
    color:white;
    font-weight: lighter;
    opacity: 0.7;
    font-size: 30px;
}

.center{
    margin: 10px;
}

footer{
    background-color: #E6E6EA;
    height: 50px;
    padding: 10px;
}

red:F95759
blue:2AB7CA
yllow:FED766
dgrey:E6E6EA
lgrey:F4F4F8
