header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    background-color: #F95759;
    padding: 10px 10px 0 10px;
/*    position: fixed;*/
    top: 0;
    width: calc(100% - 20px);
    height: 60px;
    text-align: center;
}


header a{
    color: white;
    font-weight: bolder;
    padding-top: 17px;

}

header a:hover{
    background-color: white;
    color: #BA1F33;
}

.header-item:first-child{
    border-radius: 10px 0 0 0;
}

.header-item:last-child{
    border-radius: 0 10px 0 0;
}

#logo-small a{
    padding: 0px;
}

.header-item.active{
    background-color: white;
    color: #BA1F33;
}

#logo-header{
    padding: 0px;
}

#logo-small{
    width: 90px;
}
